<?xml version="1.0" encoding="UTF-8"?>
<form>
	<fieldset>				
		<field 	name="catalogue_image_thumb_height" 
				type="text"
				label="COM_PAYCART_ADMIN_CONFIG_IMAGE_THUMB_HEIGHT" 
				default="auto"
				required="true"
				/>
		
		<field 	name="catalogue_image_thumb_width" 
				type="text"
				label="COM_PAYCART_ADMIN_CONFIG_IMAGE_THUMB_WIDTH" 
				default="64"
				required="true"
				/>
		
		<field 	name="catalogue_image_optimized_height" 
				type="text"
				label="COM_PAYCART_ADMIN_CONFIG_IMAGE_OPTIMIZED_HEIGHT" 
				default="auto"
				required="true"
				/>
		
		<field 	name="catalogue_image_optimized_width" 
				type="text"
				label="COM_PAYCART_ADMIN_CONFIG_IMAGE_OPTIMIZED_WIDTH" 
				default="300"
				required="true"
				/>
		
		<field 	name="catalogue_image_upload_size" 
				type="text"
				label="COM_PAYCART_ADMIN_CONFIG_IMAGE_UPLOAD_SIZE" 
				default="2"
				required="true"
				/>

		<field 	name="catalogue_image_squared_size" 
				type="text"
				label="COM_PAYCART_ADMIN_CONFIG_IMAGE_SQAURED_SIZE" 
				default="200"
				required="true"
				/>
				
		<field 	name="catalogue_weight_unit" 
				type="list"
				label="COM_PAYCART_ADMIN_CONFIG_WEIGHT_UNIT" 
				default="kg"
				required="true">
		        <option value='gm'>Gram</option>
		        <option value='kg'>Kilogram</option>
		        <option value='lb'>Pound</option>
		 </field>
		 
		 <field name="catalogue_dimension_unit" 
				type="list"
				label="COM_PAYCART_ADMIN_CONFIG_DIMENSION_UNIT" 
				default="cm"
				required="true">
		        <option value='in'>Inch</option>
		        <option value='cm'>Centimeter</option>
		        <option value='m'>Meter</option>
		 </field>
		
		<field name="invoice_serial_prefix"
			   type="text"  
			   required="true"
			   label="COM_PAYCART_ADMIN_CONFIG_INVOICE_SERIAL_PREFIX"
			   default="paycart">
		</field>
		
		<field  name="localization_default_language" 
				type="paycart.supportedlanguage"
				label="COM_PAYCART_ADMIN_CONFIG_LOCALIZATION_DEFAULT_LANGUAGE">
				<option value="">COM_PAYCART_ADMIN_SELECT</option>
		</field>
			
		<field  name="localization_supported_language" 
				type="list"
				multiple="true"
				label="COM_PAYCART_ADMIN_CONFIG_LOCALIZATION_SUPPORTED_LANGUAGE">				
		</field>
		
		<field name="localization_date_format"
			   type="list"  
			   label="COM_PAYCART_ADMIN_CONFIG_DATE_FORMAT"
			   default="Y-m-d">
			   <option value="Y-m-d"></option>
				   
			   <option value="m/d/Y"></option>
			   <option value="m-d-Y"></option>
			   
			   <option value="d/m/Y"></option>
			   <option value="d-m-Y"></option>
				
			   <option value="d B y"></option>
			   <option value="d B Y"></option>
				
			   <option value="B d, y"></option>
			   <option value="B d, Y"></option>
		</field>
		
		<field name="localization_currency"
			   type="paycart.currency"  
			   label="COM_PAYCART_ADMIN_CONFIG_CURRENCY"
			   default="">
		</field>
		
		<field name="localization_currency_format"
			   type="radio"  
			   label="COM_PAYCART_ADMIN_CONFIG_CURRENCY_FORMAT"
			   default="symbol" 
			   class="btn-group">
			   <option value="fullname">COM_PAYCART_ADMIN_FULLNAME</option>
			   <option value="isocode">COM_PAYCART_ADMIN_ISOCODE</option>
			   <option value="symbol">COM_PAYCART_ADMIN_SYMBOL</option>
		</field>
		
		<field name="localization_currency_position"
			   type="radio"  
			   label="COM_PAYCART_ADMIN_CONFIG_CURRENCY_POSITION"
			   default="before"
			   class="btn-group">
			   <option value="before">COM_PAYCART_ADMIN_CONFIG_CURRENCY_BEFORE_PRICE</option>
			   <option value="after">COM_PAYCART_ADMIN_CONFIG_CURRENCY_AFTER_PRICE</option>
		</field>
		
		<field name="localization_decimal_separator"
			   type="radio"  
			   label="COM_PAYCART_ADMIN_CONFIG_DECIMAL_SEPARATOR"
			   default="."
			   class="btn-group">
			   <option value=",">COM_PAYCART_ADMIN_CONFIG_CURRENCY_SEPARATOR_COMMA</option>
			   <option value=".">COM_PAYCART_ADMIN_CONFIG_CURRENCY_SEPARATOR_DOT</option>
		</field>
		
		<field name="localization_fraction_digit_count"
			   type="list"
			   label="COM_PAYCART_ADMIN_CONFIG_FRACTION_DIGIT_COUNT"
			   default="2">
			   <option value="0">0</option>
			   <option value="1">1</option>
			   <option value="2">2</option>
			   <option value="3">3</option>
			   <option value="4">4</option>
			   <option value="5">5</option>
		</field>
		
		<field name="company_name"
			   type="text"
			   label="COM_PAYCART_ADMIN_CONFIG_COMPANY_NAME"
			   default=""
			   />
			 
		<field name="company_address"
			   type="textarea"
			   label="COM_PAYCART_ADDRESS"
			   default=""
			   />
			   
		<field name="company_logo"
			   type="paycart.media"
			   label="COM_PAYCART_ADMIN_CONFIG_COMPANY_LOGO"
			   default=""
			   />
		
		<field name="cron_run_automatic"
		       type="radio"
		       label="COM_PAYCART_ADMIN_CONFIG_CRON_AUTOMATIC_RUN"
		       default="1"
		       class="btn-group">
		       <option value="1">JYES</option>
		       <option value="0">JNO</option>
		</field>
		
		<field name="cron_frequency"
		       type="radio"
		       label="COM_PAYCART_ADMIN_CONFIG_CRON_FREQUENCY"
		       default="1800"
		       class="btn-group">
		       <option value="300">COM_PAYCART_ADMIN_CONFIG_CRON_FREQUENCY_LOWEST</option>
		       <option value="900">COM_PAYCART_ADMIN_CONFIG_CRON_FREQUENCY_LOW</option>
		       <option value="1800">COM_PAYCART_ADMIN_CONFIG_CRON_FREQUENCY_NORMAL</option>
		       <option value="3600">COM_PAYCART_ADMIN_CONFIG_CRON_FREQUENCY_HIGHEST</option>     
		</field>
		
	</fieldset>
	
</form>
