<phpunit bootstrap="../../bootstrap.php" colors="true">
	<testsuite name="Installation">
		<file>InstallationTest.php</file>
	</testsuite>
	
	<listeners>
		<listener class="RbTestListener" file="../../../core/listener.php">
		</listener>
	</listeners>

<!--
	<logging>
		<log type="junit" target="suite/logs/junit.xml" logIncompleteSkipped="false" />
	</logging>
-->
</phpunit>
