<phpunit bootstrap="bootstrap.php" colors="true">
	
	<testsuites>

		<!-- PayCart-Installation -->
		<testsuite>
			<directory>suite/install</directory>
		</testsuite>

		<!-- PayCart-BackEnd -->
		<testsuite>
			<directory>suite/admin</directory>
		</testsuite>
		
	</testsuites>
	
	<listeners>
		<listener class="RbTestListener" file="../core/listener.php">
		</listener>
	</listeners>

<!-- 
	<logging>
		<log type="junit" target="suite/logs/junit.xml" logIncompleteSkipped="false" />
	</logging>
-->
</phpunit>
